/* This is my site */

html,
body {
    background: url(../static/images/coffeebg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 33px;
    margin:0;
}

h2 {
    font-size: 29px;
    margin:0px;
}

h3 {
    font-size:22px;
    margin:0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lightgrey {
    background-color: #63738a;
}

.darkgrey {
    background-color: #4f5d72;
}


.content-box {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    min-height: 240px;
    display: block;
    background-color: rgba(231, 231, 231, 0.6);
    border-top: 12px solid #474747;
    border-bottom: 12px solid #474747;
}

.hands-up {
    width: 200px;
    height: 300px;
    background: url(../static/images/handsup.gif) bottom no-repeat;
    display: none;
    top: 180px;
    position: absolute;
    left:40%;
}

.hands-are-up {
    color: #474747;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: none;
    }

.dont-touch-me {
    width: 299px;
    height: 255px;
    display: none;
    top: 150px;
    position: absolute;
    left: 50%;
    background:url(../static/images/chatbubble.png) no-repeat;
    text-align: center;

}

.dont-touch-me p {
    margin: 50px 40px 20px 20px;
    font-size:20px;
}

.visible {
    display: block;
}

.handsup-button {
    width: 100px;
    height: 45px;
    margin:10px auto;
    border: 1px solid #474747;
    display: block;
    background-color: #63738a;
    color:#fff;
}

.idea-box {
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
        color: #474747;
}


@media screen and (min-width:280px) {
    .wrapper {
        width: 100%;
    }



    .header {
        width: 100%;
        min-height: 90px;
    }

    .section-title {
        color: #474747;
        width: 100%;
        margin: 30px auto;
        text-align: center;
        display: block;
    }

    /* NAVIGATION */
    .navigation {
        list-style: none;
        padding: 0;
        width: 100%;
        height: 40px;
        margin: 0 auto 100px;
        background: #474747;
        position: relative;
        z-index: 100;
    }

    .navigation, .navigation a.main {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }

    .navigation:hover, .navigation:hover a.main {
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
    }

    .navigation a.main {
        display: block;
        height: 40px;
        font: bold 15px/40px arial, sans-serif;
        text-align: center;
        text-decoration: none;
        color: #FFF;
        -webkit-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        position: relative;
        z-index: 100;
    }

    .navigation:hover a.main {
        color: rgba(255, 255, 255, 0.6);
        background: rgba(0, 0, 0, 0.04);
    }

    .navigation li {
        width: 100%;
        height: 40px;
        background: #F7F7F7;
        font: normal 12px/40px arial, sans-serif !important;
        background: rgba(0, 0, 0, 0.04);
        text-align: center;
        margin: 0;
        -webkit-transform-origin: 50% 0%;
        -o-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: perspective(350px) rotateX(-90deg);
        -o-transform: perspective(350px) rotateX(-90deg);
        transform: perspective(350px) rotateX(-90deg);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    }

    .navigation li a {
        text-decoration: none;
        display: block;
        color: #474747;
    }

    .navigation li:nth-child(even) {
        background: #F5F5F5;
    }

    .navigation li:nth-child(odd) {
        background: #EFEFEF;
    }

    .navigation li.n1 {
        -webkit-transition: 0.2s linear 0.4s;
        -o-transition: 0.2s linear 0.4s;
        transition: 0.2s linear 0.4s;
    }

    .navigation li.n2 {
        -webkit-transition: 0.2s linear 0.3s;
        -o-transition: 0.2s linear 0.3s;
        transition: 0.2s linear 0.3s;
    }

    .navigation li.n3 {
        -webkit-transition: 0.2s linear 0.2s;
        -o-transition: 0.2s linear 0.2s;
        transition: 0.2s linear 0.2s;
    }

    .navigation li.n4 {
        -webkit-transition: 0.2s linear 0.1s;
        -o-transition: 0.2s linear 0.1s;
        transition: 0.2s linear 0.1s;
    }

    .navigation li.n5 {
        border-radius: 0px 0px 4px 4px;
        -webkit-transition: 0.2s linear 0s;
        -o-transition: 0.2s linear 0s;
        transition: 0.2s linear 0s;
    }

    .navigation:hover li {
        -webkit-transform: perspective(350px) rotateX(0deg);
        -o-transform: perspective(350px) rotateX(0deg);
        transform: perspective(350px) rotateX(0deg);
        -webkit-transition: 0.2s linear 0s;
        -o-transition: 0.2s linear 0s;
        transition: 0.2s linear 0s;
    }

    .navigation:hover .n2 {
        -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .navigation:hover .n3 {
        -webkit-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .navigation:hover .n4 {
        transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }

    .navigation:hover .n5 {
        -webkit-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s;
    }

    .activity {
        color: #3b0;
    }

    .feeling {
        color: #ab3;
    }

    .button {
        width: 180px;
        height: 40px;
        background-color: #101d39;
        color: #fff;
        margin: 0 auto;
        text-align: center;
    }

    .button a {
        text-decoration: none;
        color: #fff;
        display: block;
        line-height: 40px;
        font-size: 14px;
    }

} // mobile landscape





@media screen and (min-width:768px){} // ipad portrait
@media screen and (min-width:1024px){} // browser, ipad landscape
@media screen and (min-width:1200px){} // browser
} // browser
