{% extends "base.html" %}

{% block title %}Rad Suggestions{% endblock %}

{% block content %}
    <div class="content-box">
        <div class="hands-are-up">
            <h1>my hands are friggen up!</h1>
        </div>
        <div class="section-title">
            <h1>put yo hands up?</h1>
            <button class="handsup-button">Yes</button>
        </div>
        <div class="hands-up"></div>
        <div class="dont-touch-me">
            <p>Do not touch me, but<br />
            GET YOUR HANDS UP!</p>
        </div>
    </div>



{% endblock %}

