{% extends "base.html" %}

{% block title %}Cooori 2.0{% endblock %}

{% block content %}

    <div class="section cooori-feature">
        <div class="content">
            <h1 class="section-title">Study Smarter with Cooori</h1>
            <div class="padding-100"></div>
            <h2>I would like to ...</h2>

            <div class="choice-form">
                 <form>
                     <select>
                        <option>Study for the JLPT Level N5</option>
                        <option>Study for the JLPT Level N4</option>
                        <option>Study for the JLPT Level N3</option>
                        <option>Study for the JLPT Level N2</option>
                        <option>Study for the JLPT Level N1</option>
                    </select>
                 </form>
            </div>
        </div>
    </div>

    <div class="section cta-white">
        <div class="content">
            <h1>This is a CTA</h1>
        </div>
    </div>



{% endblock %}